# ===========================================
# DATABASE
# ===========================================
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/ambubook"

# ===========================================
# BETTER AUTH
# ===========================================
BETTER_AUTH_SECRET="generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"

# ===========================================
# RESEND (Emails)
# ===========================================
RESEND_API_KEY="re_xxxxxxxx"
ADMIN_EMAIL="ton@email.fr"
FROM_EMAIL="AmbuBook <noreply@ambubook.fr>"
